
<section class="intro-images row">
		<%=	image_tag("banner_foru_brands.jpg")%>
</section>

<section class="featured-wig row" id="featured-wigs">
	<article class=" feature columns small-12 medium-6 large-3">
		
			<div class="featured-titles columns small-12"> <h2>WIGS TO LOVE</h2></div>
			<div class="featured-img">
				
			<%=	image_tag("ORCHID WIG BY ESTETICA DESIGNS.png")%>
			</div>
			<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
	
	</article>
	<article class=" feature columns small-12 medium-6 large-3">
		
			<div class="featured-titles columns small-12"> <h2>Lace Fronts</h2></div>
			<div class="featured-img">
				<%=image_tag("Jill (Futura) SSW IFW.png")%>
			</div>
			<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
	
	</article>
	<article class=" feature columns small-12 medium-6 large-3">
		
			<div class="featured-titles columns small-12"> <h2>Short & Sexy</h2></div>
			<div class="featured-img">
			<%=	image_tag("SHEER TOUCH MODERATE HAIRPIECE copy.png") %>
			</div>
			<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
	</article>
	<article class=" feature columns small-12 medium-6 large-3">
			<div class="featured-titles columns small-12"> <h2>Featured Brands</h2></div>
			<div class="featured-img">
				<%=	image_tag("Lisa (Futura) SSW IFW.png") %>
			</div>
			<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
	
	</article>
</section>
<section class=" row transparent-white" id="hair-loss">
	
	<article class="columns small-12 medium-6">
		<h2>Hair-loss</h2>
	  <p>Do you suffer with hair loss? Whether it’s natural hair loss, genetic hair loss or hair loss from cancer treatments, there is something you can do about your hair loss. Anyone can experience hair loss. Women actually make up a large percentage of American hair loss sufferers <strong>(1 in 4 women suffer from hair loss in the U. S. alone)</strong>, that’s over <strong>40 million women</strong>. </p>

	<%= link_to "read more", welcome_hair_loss_path, class: "color" %>
	</article>

	<article class=" columns small-12 medium-6">
		<h2>Custom Wigs</h2>
		<p>Custom wigs is what we do best here at The Perfect Fit. We are able to bring any style to life and make it fit you personally. We sit down with you and have a Heart to Hair Talk about what would be best suited for you. There are a number of ways that we go about doing this: 1. We may view old photographs, 2.We may go thru some of our customized wig collections 3. We will discuss various options with you about what fits you and your lifestyle. Whatever the case, our goal is to make <strong>YOU </strong>happy. Our company works with people to help people. </p>
	</article>
</section>
<section class="row education" id="education">
	<article class=" columns small-12 medium-6">
		<h2> <i class="fa fa-book "></i> &nbsp;Education / Workshops</h2>
		<p>The Perfect Fit, Just For You LLC is proud to have it’s first ever Educational Workshop coming in October 2014, Tammara Taylor will be conducting a special class: <strong class="color">“The Art of Wig Making.” </strong> The goal of this class is to teach an individual how to make their own custom wig, and to allow them the freedom to create through the art of customization. This is something that they can go further with through taking other classes to truly hone in on the wig making profession and possibly become entrepreneurs or work for The Perfect Fit on a Part-time basis. This is a skill that can be taken further. Please give us a call for more details on this Workshop. (845) 853.8040.
    </p>
	</article>

	<article class=" columns small-12 medium-6">
		<h2><i class="fa fa-calendar "></i> &nbsp;Upcoming Events</h2>
		<p>In 2015 The Perfect Fit, Just For You will be hosting our second Fashion Show. It will be filled with many exciting activities, music and fun entertainment. Our goal is to raise awareness for people that are fighting all forms of Cancer. If you would like to be a part of making this wonderful event happen please give us a call at (845) 853.8040.
    </p>
	</article>
	
</section>
