<p>Hello Jforu.com Staff, <%= @content["name"] %> has sent you an inquiry. </p>

<p>Name: <%= @content["name"] %></p>
<p>Email: <%= @content["email"] %></p>
<p>Subject: <%= @content["subject"] %></p>
<p>Body: <%= @content["body"] %></p>

Please respond back ASAP!
